
table {
    border:3px solid #6495ed;
    border-collapse:collapse;
    width:90%;
    margin:auto;
}

thead, tfoot {
    background-color:#D0E3FA;
    border:1px solid #6495ed;
    font-size:150%;
    font-family:sans-serif;
}

tbody {
    background-color:#FFFFFF;
    border:1px solid #6495ed;
}

th {
    font-family:monospace;
    border:1px dotted #6495ed;
    padding:5px;
    background-color:#EFF6FF;
    width:auto;
    font-weight:bold;
}

td {
    font-family:sans-serif;
    font-size:150%;
    border:1px solid #6495ed;
    padding:5px;
    text-align:center;
}

td.green {
    font-family:sans-serif;
    font-size:150%;
    border:1px solid #6495ed;
    padding:5px;
    text-align:center;
    background-color:#CEF6CE;
}

td.red {
    font-family:sans-serif;
    font-size:150%;
    border:1px solid #6495ed;
    padding:5px;
    text-align:center;
    background-color:#F5A9A9;
}

td.bluesky {
    font-family:sans-serif;
    font-size:150%;
    border:1px solid #6495ed;
    padding:5px;
    text-align:center;
    background-color:#E0F8F7;
}

td.orange {
    font-family:sans-serif;
    font-size:150%;
    border:1px solid #6495ed;
    padding:5px;
    text-align:center;
    background-color:#F5DA81;
}

td.rose {
    font-family:sans-serif;
    font-size:150%;
    border:1px solid #6495ed;
    padding:5px;
    text-align:center;
    background-color:#FBEFEF;
}

#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px;
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 21px;
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px;
    margin : 1px 2px 0 2px;
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}

td.blink {
    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;

    color: red;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
